@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');


p h1, h2, h3{
    font-family: 'Roboto', sans-serif !important;
}


/*header*/

.header-recherche{
    display: flex;
    justify-content: space-between;
    background: #232323;
    align-items: center;
    padding: 0 5%;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.header-recherche .site-title{
    color: #fff;
}
.header-recherche #logo{
    width: 20%;
}
.header-recherche #logo h1{
    font-size: 25px !important;
}
.header-recherche .page_item{
    margin: 15px;
}
.header-recherche .page_item{
    margin: 15px;
}
.header-recherche .navigation{
    width: 40%;
}
.header-recherche .navigation .nav-menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-menu div{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}
.nav-menu p{
   margin: 0 15px 0 0 !important;
   font-size: 13px;
   font-weight: 600;
   font-size: 13px;
   font-weight: 600;
}
.nav-menu svg{
    width: 30px;
    height: 30px;
}


  
  /*.icon:hover {
    background: #6781a3;
    color: #ffffff;
  }*/
  
  

/*main*/
.site-content{
    padding: 3% 0px;
    background: #fff !important;
}


.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*carte article*/
.product{
    display: flex;
    flex-direction: column;
    height: auto;
    background: #E5E5E5;
    transition: transform .1s;
    padding: 20px;
}
.product:hover{
    transform: scale(1.02);
}

.product .card-image{
    height: 230px;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
}
.box-title{
    width: 100%;
}
.box-title h3{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
}
.product .add_to_cart_button{
    width: 70%;
    margin: auto;
    border-radius: 3px;
}
.jp-interface{
    border: 1px solid red;
}

/*bouton*/
.btn{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
    border-radius: 100px;
    border-color: #ffffff;
    transition-property: background-color, color, border-color, box-shadow;
    transition-duration: .3s,.3s,.3s,.8s;
    transition-timing-function: ease-in-out;
    background: none;
    
    color: #ffffff !important;
    border: 1px solid;
    letter-spacing: 1px;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 8px 13px !important;
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden; 
}
.btn.lien:before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 2rem;
    width: 2rem;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    transform: scale(0);
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 100px;
}
  
.btn.lien:hover{
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
    color: #333333 !important;
    background-color: #ffffff;
    border-color: #ffffff;
}
.btn.lien:hover span{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    
}


.btn-info {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative; 
    overflow: hidden;
  }
  .btn-info:before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 2rem;
    width: 2rem;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    transform: scale(0);
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    background-color: #13709e;
    border-color: #13709e;
    border-radius: 100px;
  }
  .btn-info{
    background-color: #1ba1e2;
    border-color: #1ba1e2;
    color: #ffffff !important;
  }
  .btn-info:hover{
    color: #ffffff !important;
    background-color: #13709e;
    border-color: #13709e;
  }
  .btn-info:hover:before,
  .btn-info:focus:before,
  .btn-info.focus:before {
    transform: scale(10);
  }

  .btn{
    padding: 1rem 2rem;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border-width: 2px;
    font-style: normal;
    letter-spacing: 1px;
    margin: 0.4rem 0.8rem;
    white-space: normal;
    transition-property: background-color, color, border-color, box-shadow;
    transition-duration: .3s,.3s,.3s,2s;
    transition-timing-function: ease-in-out;
    padding: 1rem 2rem;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
  }



/*Crédit*/
#credit{
    display: none;
}



/*page article*/
.pageArticle{
    width: 100%;
    height: 100%;
    border: 1px solid red;
    display: flex;
}
.pageArticle1{
    border: 1px solid green;

}
.pageArticle2{
    width: 100%;
    height: 100%;
    border: 1px solid blue;
    display: flex;
}
/*panier*/
.panier{
    display: flex;
    justify-content: space-between;
}
.panier p{
    margin: 0 !important;
}
.panier form{ /*tous les articles*/
    width: 60%;
}
.panier .cart-collaterals{/*totale de la commande*/
    top: 0;
    right: 0;
}
.panier .cart_totals{/*totale de la commande*/
    width: 100% !important;
    border: 2px solid #b0b0b0;
    padding: 20px;
}
.panier .checkout-button{
    font-size: 18px !important;
}



.cart_item{
    padding: 10px 20px;
    background: #e9e8e8;
    position: relative;
    border-top: 1px solid #a7a7a7;
    border-top: 1px solid #a7a7a7;
}

.product-remove2{
    position: absolute;
    top: 10px;
    right: 10px;
}
.product-thumbnail{
    margin-right: 40px;
}

.info-top{
    display: flex;
    margin: 20px 10px;
    justify-content: space-between;
}
.info-bottom{
    display: flex;
    margin: 20px 10px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #797bcd;
    padding-top: 10px;
}
.quantity{
    display: flex;
    align-items: center;
}
.input-text{
    margin: 0 3px;
    padding: 3px !important;
    border: 1px solid #e8e9ef !important;
}


li.product{
    width: 23% !important;
    margin-right: 2% !important;
}


/*menu burger*/
#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 110px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 11;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
    z-index: 11;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
    z-index: 11;
  }
  .menu__box {
    display: flex;
    position: fixed;
    top: 78px;
    left: -100%;
    width: 100%;
    height: 6%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 10;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }








  