{% extends 'base.html.twig' %}
{% block body %}
	<header id="header" class="header-recherche">
		<div id="logo">
			<h1 class="site-title">Logo</h1>
		</div>
		<nav id="site-navigation" class="main-navigation navigation" role="navigation">
			<button class="menu-toggle" aria-controls="site-navigation" aria-expanded="false">
				<span>Menu</span>
			</button>
			<div class="menu">
				<ul class="nav-menu">
					<li class="page_item page-item-1 current_page_item focus">
						<a href="/afficheRecherche">Rechercher
																	un article</a>
					</li>
					<li class="page_item page-item-2">
						<a href="/accederAuPanier">Panier</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<div id="content" class="site-content">
		<div class="col-full">
			<header class="entry-header">
				<h1 class="entry-title">Panier</h1>
			</header>
			<!-- .entry-header -->
			<p>{{ article.titre }}</p>
			<p>{{ article.id }}</p>
			<p>{{ article.prix }}</p>
			<div class="entry-content">
				<div class="woocommerce panier">
					<div class="cart-collaterals">
						<div class="cross-sells"></div>
						<div class="cart_totals ">
							<h2>Total de la commande</h2>

							<table cellspacing="0">
								<tbody>
									<tr class="cart-subtotal">
										<th>Sous-total</th>
									</tr>
									<tr class="shipping">
										<th>Frais de port</th>
										<td>Gratuit</td>
									</tr>
									<tr class="order-total">
										<th>Total</th>
									</tr>
								</tbody>
							</strong>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="wc-proceed-to-checkout">
				<a href="/commanderPanier" class="checkout-button button alt wc-forward">Effectuer la
																	commande</a>
			</div>
		</div>
	</div>
</div></div></div><!-- .col-full --></div><!-- #content -->{% endblock %}
